.filter {
  width: fit-content;
  border-radius: 11px;
  background-color: var(--secondary-color);
  padding: 25px 30px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

.brands {
  display: grid;
  grid-template-columns: repeat(5, 155px);
  gap: 10px;

  & > div {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      width: fit-content;
      transition: 0.3s;

      &.active {
        color: var(--primary-color);
        font-weight: 600;
      }

      &:hover {
        color: var(--primary-color);
      }
    }

    img {
      margin-right: 10px;
      width: 30px;
    }
  }
}

.specifications {
  margin-left: 50px;

  button {
    width: 100%;
    padding: 20px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    border-radius: 6px;
    outline: none;
    border: none;
    margin-top: 20px;
  }
}

.specifications-title {
  font-weight: 900;
  font-size: 24px;
  color: #262626;
}

.specifications-price {
  margin-top: 20px;
  h4 {
    font-weight: 400;
    font-size: 16px;
    color: #262626;
  }

  & > div {
    display: flex;
    margin-top: 10px;

    div {
      display: flex;
      align-items: end;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    input {
      outline: none;
      width: 150px;
      height: 35px;
      font-size: 24px;
    }
  }
}

.specifications-additionals {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  select {
    padding: 20px;
    padding-right: 65px;
    outline: none;

    font-weight: 400;
    font-size: 14px;
    color: black;

    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #ffffff;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23666' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;

    transition: all 0.3s ease;
  }

  .custom-select:hover {
    border-color: #888;
    background-color: #fff;
  }

  .custom-select option {
    padding: 10px;
    background: #fff;
    color: #333;
  }

  .custom-select option:disabled {
    color: #999;
    font-style: italic;
  }
}

.custom-select {
  width: 49%;
}

::ng-deep .custom-select .ng-select.ng-select-single .ng-select-container {
  height: 60px;
  display: flex;
  align-items: center;
}

::ng-deep
  .custom-select
  .ng-select.ng-select-single
  .ng-select-container
  .ng-input {
  height: 100%;
}

::ng-deep
  .custom-select
  .ng-select.ng-select-single
  .ng-select-container
  .ng-input
  input {
  height: 100%;
}

::ng-deep
  .custom-select
  .ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input {
  top: 0;
}

::ng-deep .ng-dropdown-panel .scroll-host {
  ::ng-deep .ng-dropdown-panel .scroll-host&::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::ng-deep .ng-dropdown-panel .scroll-host&::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  ::ng-deep .ng-dropdown-panel .scroll-host&::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
    transition: background 0.2s;

    &:hover {
      background: #555;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #f1f1f1;
  border-radius: 4px;
}
