<div class="filter">
  <div class="brands">
    <div *ngFor="let brand of brands">
      <div (click)="selectBrand(brand.title)" [class]="{ active: filterValues.brand === brand.title }">
        <img [src]="`http://localhost:5555/${brand.img}`" [alt]="brand.title" />
        <span>{{ brand.title }}</span>
      </div>
    </div>
  </div>

  <div class="specifications">
    <div class="specifications-title">Быстрый подбор авто</div>
    <div class="specifications-price">
        <h4>Цена</h4>
        <div>
            <div>
                <span>От</span>
                <input type="number" [(ngModel)]="filterValues.priceRange.min" (input)="applyFilter()">
            </div>
            <div>
                <span>До</span>
                <input type="number" [(ngModel)]="filterValues.priceRange.max" (input)="applyFilter()">
            </div>
        </div>
    </div>
    <div class="specifications-additionals">
        
<div class="custom-select">
  <ng-select
    [items]="bodyTypes"
    bindLabel="name"
    placeholder="Тип кузова"
    [(ngModel)]="bodyTypeModel"
    (change)="applyFilter()"
  >
  </ng-select>
</div>

<div class="custom-select">
  <ng-select
    [items]="driveTypes"
    bindLabel="name"
    placeholder="Коробка"
    [(ngModel)]="driveTypeModel"
    (change)="applyFilter()"
  >
  </ng-select>
</div>
    </div>

    <button (click)="log()">Показать</button>
  </div>
</div>