<footer>
    <div class="footer-top">
        <div>
            <ul>
                <li>
                  <a
                    routerLink="/catalog"
                    routerLinkActive="active"
                    arriaCurrentWhenActive="page"
                    >Каталог авто</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/catalog"
                    routerLinkActive="active"
                    arriaCurrentWhenActive="page"
                    >Авто с пробегом</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/credit"
                    routerLinkActive="active"
                    arriaCurrentWhenActive="page"
                    >Кредит и рассрочка</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/spec"
                    routerLinkActive="active"
                    arriaCurrentWhenActive="page"
                    >Спецпредложения</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/taxi"
                    routerLinkActive="active"
                    arriaCurrentWhenActive="page"
                    >Такси в кредит</a
                  >
                </li>
              </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
            <div class="footer-info">
                <div class="footer-title">
                    © 2021 Автосалон "ABC AUTO". Официальный дилер
                </div>

                <div class="footer-agreements">
                    <div>
                        Политика конфиденциальности
                    </div>
                    <div>
                        Пользовательское соглашение
                    </div>
                </div>
            </div>

            <div class="footer-text">
                Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
            </div>

            <div class="footer-score">
                <img src="./assets/img/components/footer/score.png" alt="">
            </div>
        </div>
    </div>
</footer>