<header>
  <div class="header-top">
    <div>
      <div class="header-location">
        <img src="./assets/img/components/header/location.svg" alt="location" />
        <span>Россия, Москва, 38КМ МКАД, 6Бс1</span>
      </div>
      <div class="header-work_time">
        <img src="./assets/img/components/header/clock.svg" alt="clock" />
        <span>Время работы: c 08:00 до 21:00</span>
      </div>
      <div class="header-contacts">
        <img src="./assets/img/components/header/whatsapp.svg" alt="whatsapp" />
        <span>Whatsapp</span>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div>
      <div class="header-logo" (click)="goToMain()">
        <img src="./assets/img/components/header/logo.svg" alt="logo" />
      </div>

      <nav>
        <ul>
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              arriaCurrentWhenActive="page"
              >Подбор авто</a
            >
          </li>
          <li>
            <a
              routerLink="/about"
              routerLinkActive="active"
              arriaCurrentWhenActive="page"
              >О компании</a
            >
          </li>
          <li>
            <a
              routerLink="/techcenter"
              routerLinkActive="active"
              arriaCurrentWhenActive="page"
              >Техцентр</a
            >
          </li>
          <li>
            <a
              routerLink="/reviews"
              routerLinkActive="active"
              arriaCurrentWhenActive="page"
              >Отзывы</a
            >
          </li>
          <li>
            <a
              routerLink="/contacts"
              routerLinkActive="active"
              arriaCurrentWhenActive="page"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>

      <div class="header-actions">
        <div class="header-favorite">
          <img src="./assets/img/components/header/heart.svg" alt="heart" />
          <div class="counter" *ngIf="favoriteCount">{{ favoriteCount }}</div>
        </div>
        <div class="header-comparison">
          <img src="./assets/img/components/header/message.svg" alt="message">
          <!-- <div class="counter">12</div> -->
        </div>
        <div class="header-search">
          <img src="./assets/img/components/header/search.svg" alt="search" />
        </div>
      </div>

      @if (isAuthenticated) {
      <div class="user-ava" #avatar (click)="toggleDropdown()">
        <img [src]="`http://localhost:5555/${avatarUrl}`" alt="avatar" />
      </div>

      @if (isDropdownOpen) {
      <div class="dropdown" #dropdown>
        <div class="dropdown-item" (click)="goToProfile()">Профиль</div>
        <div class="dropdown-item" (click)="logout()">Выйти</div>
      </div>
      } } @else {
      <div class="header-register" (click)="goToRegister()">Регистрация</div>
      }
    </div>
  </div>
</header>
