<div class="chat-container">
  <div class="chat-header">
    <div class="car-brand-model" (click)="goToCar(chat?.advertisementId?._id)">
      <div
        class="car-image"
        [style.backgroundImage]="
          'url(' + chat?.advertisementId?.images[0] + ')'
        "
      ></div>
      <div class="car-title">
        <h2>
          {{ chat?.advertisementId?.brand }} {{ chat?.advertisementId?.model }}
        </h2>
        <div class="car-year-price">
          <span class="year">{{ chat?.advertisementId?.year }} год</span>
          <span class="price">{{ formatPrice(chat?.advertisementId?.price) }} ₽</span>
        </div>
      </div>
    </div>

    <div class="interlocutor-info" *ngIf="sellerInfo._id" (click)="goToProfile(currentUserId === chat?.sellerId ? buyerInfo?._id : sellerInfo?._id)">
      <div
        class="user-avatar"
        [style.background-image]="
          'url(' +
          getSafeAvatarUrl(
            currentUserId === chat?.sellerId
              ? buyerInfo?.avatar
              : sellerInfo?.avatar
          ) +
          ')'
        "
      ></div>
      <div class="user-online" *ngIf="isUserOnline"></div>
      <span class="user-name">
        {{
          currentUserId === chat?.sellerId
            ? buyerInfo?.name + " " + buyerInfo?.surname
            : sellerInfo?.name + " " + sellerInfo?.surname
        }}
      </span>
    </div>
  </div>

  <div class="messages-container" #messagesContainer>
    <div *ngFor="let message of chatMessages" class="message-wrapper">
      <div
        class="message"
        [class.outgoing]="message.senderId === currentUserId"
        [class.incoming]="message.senderId !== currentUserId"
      >
        <div class="message-content">
          {{ message.content }}
          <div class="message-meta">
            {{ formateTime(message.createdAt) }}
            <span *ngIf="message.isRead && message.senderId === currentUserId"
              >✓✓</span
            >
            <span *ngIf="!message.isRead && message.senderId === currentUserId"
              >✓</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-container">
    <input
      type="text"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
      placeholder="Введите сообщение..."
      class="message-input"
    />
    <button (click)="sendMessage()" class="send-button">Отправить</button>
  </div>
</div>
