<div class="cars">
  <div class="car-card" *ngFor="let item of [].constructor(12); let i = index">
    <div class="car-image-container">
      <div style="width: 100%; height: 100%" class="loading"></div>
    </div>

    <div class="car-container">
      <div class="car-price">
        <div
          style="width: 150px; height: 20px; margin-right: 7px"
          class="loading"
        ></div>
        ₽
      </div>
      <div class="car-name">
        <div
          style="width: 250px; height: 20px;"
          class="loading"
        ></div>
      </div>
      <div class="car-additionals">
        <div
          style="width: 100px; height: 20px; margin-right: 7px"
          class="loading"
        ></div>
        /
        <div
          style="width: 100px; height: 20px; margin-right: 7px; margin-left: 7px"
          class="loading"
        ></div>
        км
      </div>
    </div>
  </div>
</div>
