<div
  class="car-card"
  (click)="showToast()"
>
  <div class="car-favourite">
    <img src="./assets/img/components/carCard/heart.svg" alt="">
  </div>
  <div class="car-image-container"
  (mouseleave)="resetSlide()"
  (mousemove)="onMouseMove($event)"
  >
    <img
      *ngIf="!shouldShowRemaining()"
      [src]="car.images[0].slice(0, car.images[0].indexOf('\\')) === 'uploads' ? `http://localhost:5555/${car.images[currentSlideIndex]}` : car.images[currentSlideIndex]"
      [alt]="car.brand"
      class="car-image"
    />

    <img class="car-image" *ngIf="shouldShowRemaining()" [src]="car.images[4]" alt="" />

    <div *ngIf="shouldShowRemaining()" class="remaining-text">
      Еще {{ getRemainingCount() }} фото
    </div>
  </div>

  <div class="slide-indicators">
    <div
      *ngFor="let _ of [].constructor(totalIndicators); let i = index"
      class="indicator"
      [class.active]="
        i === currentSlideIndex ||
        (shouldShowRemaining() && i === maxVisibleSlides - 1)
      "
    ></div>
  </div>


  <div class="car-container">
    <div class="car-price">{{ formatPrice(car.price) }} ₽</div>
    <div class="car-name">{{ car.brand }} {{ car.model }}</div>
    <div class="car-additionals">{{ car.year }} / {{ car.mileage }} км</div>
  </div>
</div>
