.car-card {
  width: 350px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.car-favourite {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  img {
    width: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: rotate(-7deg) scale(1.1);
    }
  }
}

.car-image-container {
  height: 210px;
  position: relative;
  background: #f8f8f8;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.remaining-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.slide-indicators {
  display: flex;
  gap: 6px;
  padding: 5px;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 195px;
  pointer-events: none;
}

.indicator {
  height: 4px;
  background: #e0e0e0;
  flex: 1;
  max-width: 200px;
  border-radius: 2px;
  transition: all 0.3s ease;

  &.active {
    background: var(--primary-color);
    transform: scaleY(1.2);
  }
}

.car-container {
  padding: 5px 10px;
}

.car-name {
  font-size: 17px;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.car-additionals {
  color: #1c212899;
  font-size: 15px;
}
