<div class="car-card" (click)="showToast()">
  <div class="car-favourite">
    <img
      [src]="`./assets/img/components/carCard/${isFavorite ? 'heart-red.svg' : 'heart.svg'}`"
      [alt]="!isFavorite ? 'heart' : 'red-heart'"
      (click)="toggleFavorite($event)"
    />
  </div>
  <div
    class="car-image-container"
    (mouseleave)="resetSlide()"
    (mousemove)="onMouseMove($event)"
  >
    <img [src]="getImageSrc()" alt="{{ car.brand }}" class="car-image" />

    <div *ngIf="shouldShowRemaining()" class="remaining-text">
      Еще {{ getRemainingCount() }} фото
    </div>
  </div>

  <div class="slide-indicators">
    <div
      *ngFor="let _ of [].constructor(totalIndicators); let i = index"
      class="indicator"
      [class.active]="
        i === currentSlideIndex ||
        (shouldShowRemaining() && i === maxVisibleSlides - 1)
      "
    ></div>
  </div>

  <div class="car-container">
    <div class="car-price">{{ formatPrice(car.price) }} ₽</div>
    <div class="car-name">{{ car.brand }} {{ car.model }}</div>
    <div class="car-additionals">{{ car.year }} / {{ car.mileage }} км</div>
  </div>
</div>
