<div
  style="
    width: 98%;
    border-radius: 25px;
    margin: 0 auto;
    overflow: hidden;
  "
>
  <app-video-slider />
</div>

<app-filter />

<!-- <div *ngFor="let car of cars" style="margin-top: 20px;">
  <h1>{{ car.brand }} {{ car.model }}</h1>
  <div style="display: grid; width: 100%; grid-template-columns: repeat(10, 150px);">
    <img *ngFor="let img of car.images; let $index" [src]="img" alt="car" width="150" [title]="$index">
  </div>
</div> -->

<!-- <app-car-card 
  [car]=""
  >
</app-car-card> -->