<div
  style="
    width: 98%;
    border-radius: 25px;
    margin: 0 auto;
    overflow: hidden;
  "
>
  <app-video-slider />
</div>

<div class="filter">
  <div class="brands">
    <div *ngFor="let brand of brands">
      <div>
        <img [src]="brand.img" [alt]="brand.title" />
        <span>{{ brand.title }}</span>
      </div>
    </div>
  </div>

  <div class="specifications">
    <div class="specifications-title">Быстрый подбор авто</div>
    <div class="specifications-price">
        <h4>Цена</h4>
        <div>
            <div>
                <span>От</span>
                <input type="number" max="9">
            </div>
            <div>
                <span>До</span>
                <input type="number" max="9">
            </div>
        </div>
    </div>
    <div class="specifications-additionals">
        <select name="" id="">
            <option value="" disabled selected hidden>Тип кузова</option>
            <option value="">Яблоко</option>
            <option value="">Банан</option>
            <option value="">Груша</option>
        </select>
        <select name="" id="">
            <option value="" disabled selected hidden>Коробка</option>
            <option value="">Яблоко</option>
            <option value="">Банан</option>
            <option value="">Груша</option>
        </select>
    </div>

    <button>Показать</button>
  </div>
</div>

<!-- <div *ngFor="let car of cars" style="margin-top: 20px;">
  <h1>{{ car.brand }} {{ car.model }}</h1>
  <div style="display: grid; width: 100%; grid-template-columns: repeat(10, 150px);">
    <img *ngFor="let img of car.images; let $index" [src]="img" alt="car" width="150" [title]="$index">
  </div>
</div> -->

<app-car-card 
  [car]="car"
  >
</app-car-card>