<div class="slider-wrapper" [class.show-slider]="isShowSlider" [class.hide-after-animation]="hideBlock">
  <div class="slider">
    <div class="slide active">
      <video
        #videoElement
        [src]="slides[currentIndex].videoUrl"
        muted
        playsinline
        preload="auto"
      ></video>

      <div class="dots">
        <div
          class="progress-container"
          *ngFor="let slide of slides; let i = index"
          [class.active]="i === currentIndex"
          (click)="goTo(i)"
        >
          <div
            class="progress-bar"
            [style.width.%]="progress"
            *ngIf="i === currentIndex"
          ></div>
        </div>
      </div>

      <div class="text-overlay">
        <h2>{{ slides[currentIndex].title }}</h2>
        <p>{{ slides[currentIndex].description }}</p>
      </div>
    </div>

    <button class="nav-btn prev" (click)="prev()">‹</button>
    <button class="nav-btn next" (click)="next()">›</button>

    <!-- <div class="dots">
    <span
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentIndex"
      (click)="goTo(i)"
    >
    </span>
  </div> -->
  </div>
</div>

<div class="slider-visible_block" 
     [class.show-slider]="isShowSlider"
     [class.hide-after-animation]="hideBlock"
     (click)="showSlider()"></div>